<div class="row" id="questions_index">
  <div class="col-md-12">

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to t('questions.new'), new_question_path, class: "btn btn-default navbar-btn" %>
        </div>
      </div>
    </nav>    

    <hr />
    <%= react_component "Questions", render(template: 'questions/index.json.jbuilder') %>

  </div>
</div>
