// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#answers {
  p.form-control{ height: auto; }

  .input-group-btn {
    height: 100%;

    button { height: 100%; }
  }

  .input-group { margin-bottom: 10px; }
}

#add_ability { margin-top: 10px; }

h1 { font-size: 2em; }
